.rbc-month-row {
  display: flex;
  flex-direction: column;
  flex: 100px; 
  overflow: hidden;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.btn-close {
  margin-left: 220px;
  font-size: 1.5em;
  cursor: pointer;
}

.edit-section {
  margin-top: 100px;
}

.date-in-past {
 width: 14.3%;
 background: #ccc;
 border-right: solid 1px #fff;
 cursor: not-allowed;
}
